body{
    background-color: #121212;
}
.menu{
    color: white;
    float: right;
}
.title{ /*AVF Magazine */
    float: left;
    color: white;
    margin-top: 40px;

}
#spc0{

    margin: 40px;
}
.head{
    background-image:url("https://res.cloudinary.com/dkwu3v93i/image/upload/v1544634815/TheAVF/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 40px;
}
#blc{
    display: inline-block;
    width:40%;
    background: rgba(0,0,0,0.7);
    margin-left: 30%;
}
#hd0{
    text-align: center;
    opacity: 1.25;
    font-family: sans-serif;
    font-size: 300%;
    color: white;
    padding-top: 10%;
}
#hd1{
    opacity: 1.25;
    font-family: sans-serif;
    font-size: 260%;
    color: white;
    padding-bottom: 10%;
}
header{
    margin-bottom: 100px;
}
#pimg{
    width: 300px;
    height: 300px;
    margin-right: 20px;
}
#aimg{
    width: 300px;
    height: 300px;
    margin-right: 20px;
}
#bimg{
    width: 300px;
    height: 300px;
    margin-right: 20px;
}
#fimg{
    width: 300px;
    height: 300px;
}
